.ready-container {
  color: green;
}

.not-ready-container {
  color: red;
}

.font-large {
  color: green;
  font-size: 18px;
}

.font-medium {
  color: blue;
  font-size: 16px;
}

.font-small {
  color: red;
  font-size: 14px;
}
